**/obj/Release/**
**/obj/Debug/**
/bin/Release
/.fake
/lib/Native
packages
paket-files
/bin/Debug
/CefGlue.WPF/bin/Release
/CefGlue.WindowsForms/bin/Release
/bin/ReleaseXilium.CefGlue.xml
/CefGlue.WindowsForms/bin/Debug
/CefGlue/bin/Debug
/bin
/.vs/Xilium.CefGlue/v14
**/bin/Release/**
**/bin/Debug/**
