**/obj/Release/**
**/obj/Debug/**
/bin/Release
/.fake
/lib/Native
packages
paket-files
/bin/Debug
/CefGlue.WPF/bin/Release
/CefGlue.WindowsForms/bin/Release
/bin/ReleaseXilium.CefGlue.xml
/CefGlue.WindowsForms/bin/Debug
/CefGlue/bin/Debug
/bin
/.vs/Xilium.CefGlue/v14
**/bin/Release/**
**/bin/Debug/**
**/obj/**
/CefGlue.Demo.WinForms/bin/x86/Debug
/CefGlue.Samples.WpfOsr/bin/x86/Debug
/CefGlue.Tests/bin/x86/Debug
/CefGlue.WPF.Tests/bin/x86/Debug
/.vs/Xilium.CefGlue.WithoutGtk/v14/*.suo
/CefGlue.Demo.GtkSharp/bin/x86/Debug
/.vs/Xilium.CefGlue.WithoutGtk/v15/*.suo
/.vs/Xilium.CefGlue/v15/*.suo
/.vs/Xilium.CefGlue.WithoutGtk/v15/Server/sqlite3/db.lock
/.vs/Xilium.CefGlue.WithoutGtk/v15/Server/sqlite3/storage.ide
/.vs/Xilium.CefGlue.WithoutGtk/v15/Server/sqlite3/storage.ide-shm
/.vs/Xilium.CefGlue.WithoutGtk/v15/Server/sqlite3/storage.ide-wal
/.paket/paket.exe
/.paket/*.targets
*.user
*.suo
