source https://api.nuget.org/v3/index.json

framework:>=net40

nuget SharpZipLib ~> 0.86.0

group Build
framework: net45
content: none
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v4-temp
