source https://api.nuget.org/v3/index.json

framework: auto-detect
storage: none

nuget FSharp.Core       >= 4.6.2 lowest_matching: true
nuget Aardvark.Build    ~> 1.0.19

nuget SharpZipLib       ~> 1.4.2
nuget NLog              ~> 5.1.2